
@media screen and (max-width: 1200px){
    .bgbtn{
        width : 16%;
        margin-top: 5%;
    }
    .bgbtn2{
        width : 13%;
        margin-top: 5%;
    }
}
@media screen and (max-width: 425px){
    .bgbtn{
        width : 34%;
        margin-top: 5%;
    }
    .bgbtn2{
        width : 34%;
        margin-top: 5%;
    }
    .form-control{
        width: 70%;
    }
    #carouselsect .imgwidthone{
        width: 18%;
        text-align: center;
        margin: auto;
    }
    .textcenter{
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    #carouselsect .overviewimg img{
        height:100%;
    }
}